.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background: var(--ifm-background-surface-color);
  border-top: 1px solid var(--ifm-color-emphasis-300);
}

.featureSvg {
  height: 200px;
  width: 200px;
}
